    
<form method="post" action="/accounts/password/reset/">
    {% csrf_token %}      
    <div class="col">
        <div class="mb-3">
            <label for="id_email">Email:</label>
            <input type="email" name="email" autocomplete="email" placeholder="Endereço de e-mail" maxlength="320" required id="id_email">
        </div>
        <div class="mb-3"> 
            <button type="submit" class="btn btn-primary"> Redefinir minha Senha </button>
        </div>
    </div>        
</form>
{% if errors %}  <div class="mb-3"> {{ errors }} </div> {% endif %}
<div class="mb-3"> 
    <a href="/accounts/email/"> [Alterar e-mail] </a>
    <a href="/accounts/password/change/"> [Alterar Senha] </a>  
    <a href="/accounts/3rdparty/"> [Conexões de Conta] </a>
    <a href="/accounts/sessions/"> [Sessões] </a>
    <a href="/accounts/logout"> [LogOut] </a> 
</div>