{% load allauth %}
{% load i18n %}
{% load humanize %}

<form method="post" action="/accounts/sessions/">    
    <input type="hidden" name="csrfmiddlewaretoken" value="7EQyVOS95APK9lcjQ9nWwVERAMeDVojL5s0M9uLbcezJggWyVeS7IVbC56P8dS8s">
            
    <table>       
        <thead>         
            <tr>                        
                <th> Iniciado em </th>                
                <th> Endereço IP </th>
                <th> Navegador </th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td > <span title="{{ session.created_at }}">{{ session.created_at|naturaltime }}</span> </td>
                <td > {{ session.ip }} </td>
                <td > {{ session.user_agent }} </td>
                <td > {% if session.is_current %} {% element badge tags="session,current" %} [ {% translate "Current" %} ] {% endelement %} {% else %} {% endif %} </td>                        
            </tr>
            {% endfor %}
        </tbody>            
    </table>               

    <button class="btn btn-primary" type="submit"> Sair de outras sessões </button>
</form>
<div class="mb-3"> 
    <a href="/accounts/email/"> [Alterar e-mail] </a>
    <a href="/accounts/password/change/"> [Alterar Senha] </a>  
    <a href="/accounts/3rdparty/"> [Conexões de Conta] </a>
    <a href="/accounts/sessions/"> [Sessões] </a>
    <a href="/accounts/logout"> [LogOut] </a> 
</div> 