<form method="post" action="/accounts/password/change/">    
    {% csrf_token %} 
    <div class="col">
        <div class="mb-3">
            <label for="id_oldpassword">Senha atual:</label>
            <input type="password" name="oldpassword" placeholder="Senha atual" autocomplete="current-password" required id="id_oldpassword">
        </div>      
        <div class="mb-3">
            <label for="id_password1">Nova senha:</label>
            <input type="password" name="password1" placeholder="Nova senha" autocomplete="new-password" required aria-describedby="id_password1_helptext" id="id_password1">
        </div>
        <div class="mb-3">   
            <label for="id_password2">Nova senha (novamente):</label>
            <input type="password" name="password2" placeholder="Nova senha (novamente)" required id="id_password2">
        </div>
    </div>      
        <div class="mb-3">
            <div class="helptext" id="id_password1_helptext">
                <ul>
                    <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                    <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                    <li>Sua senha não pode ser uma senha comumente utilizada.</li>
                    <li>Sua senha não pode ser inteiramente numérica.</li>
                </ul>
            </div>
        </div>  
    <div class="mb-3">          
        <button type="submit" class="btn btn-primary"> Alterar senha </button>               
    </div>
</form>
{% if errors %}  <div class="mb-3"> {{ errors }} </div> {% endif %}
<div class="mb-3"> 
    <a href="/accounts/email/"> [Alterar e-mail] </a>
    <a href="/accounts/password/change/"> [Alterar Senha] </a>  
    <a href="/accounts/3rdparty/"> [Conexões de Conta] </a>
    <a href="/accounts/sessions/"> [Sessões] </a>
    <a href="/accounts/logout"> [LogOut] </a> 
</div>